################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs
/WebApi/TestProject1/bin
/.vs
/WebApi/TestProject1/obj
/WebApi/WebApi/bin
/WebApi/WebApi/obj
/TestProject1/bin/Debug/net6.0
/TestProject1/obj
/WebApi/bin/Debug/net6.0
/WebApi/obj
/ClassLibrary1/obj
/ClassLibrary1/bin/Debug/net6.0
/WebApiTest/bin/Debug/net6.0
/WebApiTest/obj
